include .VERSION
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include USAGE.rst
include certbot_dns_transip/.VERSION
recursive-include requirements *.txt


recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile
